@{
    ViewData["Title"] = "Home Page";
}
@model System.Collections.Generic.IEnumerable<VirginMedia.MvcTest.Web.Models.SalesTransaction>;

<div class="text-center">
    <h1 class="display-4">Sales Transactions</h1>

    @foreach (var m in Model)
    {
        <p>test</p>
    }
</div>
